
.toast_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.toast_box {
  background: #fff;
  width: 375px;
  max-width: 360px;
  height: 320px;
  border-radius: 16px;
  padding: 24px;
  position: relative;
  animation: fadeUp 0.3s ease;
}

.close_btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.title{
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  font-size: 20px;
  color: #282828c1;
}

.field input {
  height: 55px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #00000040;
  font-size: 20px;
  font-family: inherit;
}

.register {
  font-size: 16px;
  color: #28A745;
  text-align: right;
  cursor: pointer;
  text-decoration: none;
}

.submit {
  height: 55px;
  border-radius: 6px;
  background: #28A745;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
   font-family: "BYekan", sans-serif;

}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}